03_sections/sec_panifici_trasferimento_sede_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:spantras="../03_sections/panifici_trasferimento_sede"
            xmlns:epantras="../02_entities/panifici_trasferimento_sede"

            targetNamespace="../03_sections/panifici_trasferimento_sede" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/panifici_trasferimento_sede" schemaLocation="../02_entities/ent_panifici_trasferimento_sede_v1.0.5.xsd"/>

    <xsd:complexType name="sezione_panifici_trasferimento_sede_ctype">
        <xsd:sequence>
            <xsd:element name="panifici_trasferimento_sede" type="epantras:panifici_trasferimento_sede_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_panifici_trasferimento_sede" type="spantras:sezione_panifici_trasferimento_sede_ctype"/>

</xsd:schema>
