03_sections/sec_info_extra_alberghiere_variazione_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sinfoextraalbvar="../03_sections/info_extra_alberghiere_variazione"
            xmlns:eintstruttric="../02_entities/intestazione_strutture_ricettive"
            xmlns:eanagextraalb="../02_entities/anagrafica_attivita"
            xmlns:edaca="../02_entities/dati_catastali"
            xmlns:evarextraalb="../02_entities/variazioni_attivita_extra_alberghiera"
            xmlns:edotextraalb="../02_entities/dotazioni_struttura_extra_alberghiera"
            xmlns:ecapric="../02_entities/capacita_ricettiva"
            xmlns:saltdicalt="../03_sections/altre_dichiarazioni_altro"

            xmlns:edichextraalb="../02_entities/dichiarazioni_extra_alberghiere" targetNamespace="../03_sections/info_extra_alberghiere_variazione" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/anagrafica_attivita" schemaLocation="../02_entities/ent_anagrafica_attivita_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/dati_catastali" schemaLocation="../02_entities/ent_dati_catastali_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/variazioni_attivita_extra_alberghiera" schemaLocation="../02_entities/ent_variazioni_attivita_extra_alberghiera_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/dotazioni_struttura_extra_alberghiera" schemaLocation="../02_entities/ent_dotazioni_struttura_extra_alberghiera_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/capacita_ricettiva" schemaLocation="../02_entities/ent_capacita_ricettiva_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/dichiarazioni_extra_alberghiere" schemaLocation="../02_entities/ent_dichiarazioni_extra_alberghiere_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/intestazione_strutture_ricettive" schemaLocation="../02_entities/ent_intestazione_strutture_ricettive_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/altre_dichiarazioni_altro" schemaLocation="../03_sections/sec_altre_dichiarazioni_altro_v1.0.5.xsd"/>

    <xsd:complexType name="sezione_info_extra_alberghiere_variazione_ctype">
        <xsd:sequence>
            <xsd:element name="intestazione" type="eintstruttric:intestazione_strutture_ricettive_ctype" minOccurs="0" maxOccurs="1" />
            <xsd:element name="indirizzo_attivita" type="eanagextraalb:anagrafica_attivita_ctype"  minOccurs="1" maxOccurs="1" />
            <xsd:element name="dati_catastali" type="edaca:coordinate_catastali_base_type"  minOccurs="1" maxOccurs="1" />
            <xsd:element name="variazioni" type="evarextraalb:variazioni_extra_alberghiere_base_type"  minOccurs="1" maxOccurs="1" />
            
            <!-- parte di nomina del rappresentante -->
            <xsd:element name="cognome_rappresentante" type="xsd:string"  minOccurs="0" maxOccurs="1" />
            <xsd:element name="nome_rappresentante" type="xsd:string"  minOccurs="0" maxOccurs="1" />
            
            <xsd:element name="dotazioni_struttura" type="edotextraalb:dotazioni_extra_alberghiera_ctype"  minOccurs="1" maxOccurs="1" />
            <xsd:element name="capacita_ricettiva" type="ecapric:capacita_ricettiva_ctype"  minOccurs="1" maxOccurs="1" />
            
            <!-- altre dichiarazioni -->
            <xsd:element name="altra_dichiarazioni" type="saltdicalt:sezione_altre_dichiarazioni_altro_ctype" minOccurs="0" maxOccurs="1" />
            
            <xsd:element name="dichiarazioni_struttura" type="edichextraalb:dichiarazioni_extra_alberghiere_base_type"  minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="sezione_info_extra_alberghiere_variazione" type="sinfoextraalbvar:sezione_info_extra_alberghiere_variazione_ctype"/>
</xsd:schema>
