03_sections/sec_var_agenzia_viaggio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:svarav="../03_sections/var_agenzia_viaggio"
            xmlns:eintmod="../02_entities/intestazione_moduli"
            xmlns:eintvar="../02_entities/intestazione_moduli_variazioni"
            xmlns:eanagatt="../02_entities/anagrafica_attivita"

            xmlns:edaca="../02_entities/dati_catastali"
            xmlns:evarav="../02_entities/variazioni_attivita_agenzia_viaggio" targetNamespace="../03_sections/var_agenzia_viaggio" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/intestazione_moduli" schemaLocation="../02_entities/ent_intestazione_moduli_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/anagrafica_attivita" schemaLocation="../02_entities/ent_anagrafica_attivita_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/dati_catastali" schemaLocation="../02_entities/ent_dati_catastali_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/variazioni_attivita_agenzia_viaggio" schemaLocation="../02_entities/ent_variazioni_attivita_agenzia_viaggio_v1.0.5.xsd"/>
    
    <xsd:complexType name="sezione_comunicazione_variazione_agenzia_viaggio_ctype">
        <xsd:sequence>
            <xsd:element  name="intestazione" type="eintmod:intestazione_moduli_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="anagrafica" type="eanagatt:anagrafica_attivita_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="dati_catastali" type="edaca:coordinate_catastali_base_type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variazione" type="evarav:variazione_attivita_ag_viaggio_base_type" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="sezione_comunicazione_variazione" type="svarav:sezione_comunicazione_variazione_agenzia_viaggio_ctype"/>
</xsd:schema>
