03_sections/sec_info_strutture_aria_aperta_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sinfostruttaa="../03_sections/info_strutture_aria_aperta"
            xmlns:enomrap="../02_entities/nomina_rappresentante"
            xmlns:edotstruttaa="../02_entities/dotazioni_struttura_aria_aperta"
            xmlns:ecapricstruttaa="../02_entities/capacita_ricettiva_strutt_aria_aperta"
            targetNamespace="../03_sections/info_strutture_aria_aperta" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/nomina_rappresentante" schemaLocation="../02_entities/ent_nomina_rappresentante_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/dotazioni_struttura_aria_aperta" schemaLocation="../02_entities/ent_dotazioni_struttura_aria_aperta_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/capacita_ricettiva_strutt_aria_aperta" schemaLocation="../02_entities/ent_capacita_ricettiva_strutt_aria_aperta_v1.0.5.xsd"/>
    <xsd:complexType name="sezione_info_strutture_aria_aperta_ctype">
        <xsd:sequence>
            <xsd:element name="nomina_rappresentante" type="enomrap:nomina_rappresentante_ctype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="dotazioni_struttura" type="edotstruttaa:servizi_struttura_base_type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="capacita_ricettiva" type="ecapricstruttaa:capacita_ricettiva_strutt_aria_aperta_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_info_strutture_aria_aperta" type="sinfostruttaa:sezione_info_strutture_aria_aperta_ctype"/>
</xsd:schema>
