03_sections/sec_locazione_imprenditoriale_variazione_v1.0.5.sch

<!--
    @data_creazione: 29/07/2025
    @version: 1.0.5
-->

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
    
    <sch:ns uri="../03_sections/sec_locazione_imprenditoriale_variazione_v1.0.5.xsd" prefix="slocimpvar"/>
    
<!--    <sch:include href="../02_entities/ent_anagrafica_attivita_locazioni_v1.0.5.sch#anagrafica_attivita_locazioni_ab"/>       -->
<!--    -->
<!--    <sch:pattern id="sez_locazioni_imprenditoriali_variazine_anagrafica_attivita" abstract="false" is-a="anagrafica_attivita_locazioni_ab">-->
<!--        <sch:param name="anagrafica_attivita" value="slocimpvar:anagrafica_attivita"/>        -->
<!--    </sch:pattern>-->
    
</sch:schema>
