03_sections/sec_dichiarazione_tintolavanderie_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sdtinlav="../03_sections/dichiarazione_tintolavanderie"
    xmlns:equalimp="../02_entities/qualifica_inserimento_impresa"
    xmlns:eperinsimp="../02_entities/periodo_inserimento_imprese"
    xmlns:eist="../02_entities/istituto"
    xmlns:eiscrea="../02_entities/iscrizione_REA"
    xmlns:ctipi="../commons/tipi"
    xmlns:ccodelist="../commons/codelist"
    xmlns:canncl="../commons/xsdAnnotations"
    targetNamespace="../03_sections/dichiarazione_tintolavanderie"
    elementFormDefault="qualified" attributeFormDefault="qualified"
    version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/qualifica_inserimento_impresa" schemaLocation="../02_entities/ent_qualifica_inserimento_impresa_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/periodo_inserimento_imprese" schemaLocation="../02_entities/ent_periodo_inserimento_imprese_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/istituto" schemaLocation="../02_entities/ent_istituto_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/iscrizione_REA" schemaLocation="../02_entities/ent_iscrizione_REA_v1.0.5.xsd" />
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd" />
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd" />
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd" />

    <xsd:complexType name="sezione_dichiarazione_tintolavanderie_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="corso_professionale" type="eist:istituto_ctype" />
                <xsd:element name="qualifica_con_inserimento_impresa" type="equalimp:qualifica_inserimento_impresa_ctype" />
                <xsd:element name="titolo_studio_inerente" type="eist:istituto_ctype" />
                <xsd:element name="periodo_inserimento_imprese" type="eperinsimp:periodo_inserimento_imprese_ctype" minOccurs="0" />
                <xsd:element name="riconoscimento_qualifica_ministero" type="ctipi:ggmmaaaa_stype" />
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="sezione_dichiarazione_tintolavanderie" type="sdtinlav:sezione_dichiarazione_tintolavanderie_ctype" />
</xsd:schema>