03_sections/sec_intestazione_agenzie_viaggio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sintav="../03_sections/intestazione_agenzie_viaggio"
            xmlns:eintmod="../02_entities/intestazione_moduli"
            xmlns:eintagg="../02_entities/intestazione_agenzie_viaggio" 
            targetNamespace="../03_sections/intestazione_agenzie_viaggio" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/intestazione_moduli" schemaLocation="../02_entities/ent_intestazione_moduli_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/intestazione_agenzie_viaggio" schemaLocation="../02_entities/ent_intestazione_agenzie_viaggio_v1.0.5.xsd"/>

    <xsd:complexType name="sezione_intestazione_agenzie_viaggio_ctype">
        <xsd:sequence>
            <xsd:element name="intestazione_generale" type="eintmod:intestazione_moduli_ctype"/>
            <xsd:element name="intestazione_agenzie_viaggio" type="eintagg:intestazione_agenzie_viaggio_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="sezione_intestazione_agenzie_viaggio" type="sintav:sezione_intestazione_agenzie_viaggio_ctype"/>
</xsd:schema>
