03_sections/sec_mod_esercizio_vicinato_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:sapesvi="../03_sections/mod_esercizio_vicinato_apertura"

            xmlns:ecarese="../02_entities/carattere_esercizio"
            xmlns:ecencom="../02_entities/centro_commerciale"
            xmlns:emodven="../02_entities/modalita_vendita"
            xmlns:esetmer="../02_entities/settori_merceologici"

            targetNamespace="../03_sections/mod_esercizio_vicinato_apertura"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/carattere_esercizio" schemaLocation="../02_entities/ent_carattere_esercizio_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/centro_commerciale" schemaLocation="../02_entities/ent_centro_commerciale_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/modalita_vendita" schemaLocation="../02_entities/ent_modalita_vendita_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/settori_merceologici" schemaLocation="../02_entities/ent_settori_merceologici_v1.0.5.xsd"/>

    <xsd:element name="apertura_esercizio_vicinato" type="sapesvi:apertura_esercizio_vicinato_type"/>

    <xsd:complexType name="apertura_esercizio_vicinato_type">
        <xsd:sequence>
            <xsd:element name="esercizio_vicinato" type="xsd:boolean"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="esclusiva_apparecchi_automatici" type="xsd:boolean"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="modalita_vendita" type="emodven:modalita_vendita_base_type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="carattere_esercizio" type="ecarese:carattere_esercizio_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="in_centro_commerciale" type="ecencom:centro_commerciale_ctype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="settori_merceologici" type="esetmer:settori_merceologici_base_type" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
