03_sections/sec_dichiarazione_aree_servizio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sdicareser="../03_sections/dichiarazione_aree_servizio"
    xmlns:eist="../02_entities/istituto"
    xmlns:equalimp="../02_entities/qualifica_inserimento_impresa"
    xmlns:epreope="../02_entities/prestato_opera"
    xmlns:eperinsimp="../02_entities/periodo_inserimento_imprese"
    xmlns:ediplo="../02_entities/diploma"
    xmlns:eiscrea="../02_entities/iscrizione_REA"
    xmlns:ctipi="../commons/tipi"
    xmlns:ccodelist="../commons/codelist"
    xmlns:canncl="../commons/xsdAnnotations" targetNamespace="../03_sections/dichiarazione_aree_servizio" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/istituto" schemaLocation="../02_entities/ent_istituto_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/qualifica_inserimento_impresa" schemaLocation="../02_entities/ent_qualifica_inserimento_impresa_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/prestato_opera" schemaLocation="../02_entities/ent_prestato_opera_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/diploma" schemaLocation="../02_entities/ent_diploma_v1.0.5.xsd" />

    <xsd:import namespace="../02_entities/iscrizione_REA" schemaLocation="../02_entities/ent_iscrizione_REA_v1.0.5.xsd" />
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd" />
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd" />
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd" />

    <xsd:complexType name="sezione_dichiarazione_aree_servizio_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="corso_professionale" type="eist:istituto_ctype" />
                <xsd:element name="qualifica_con_inserimento_impresa" type="equalimp:qualifica_inserimento_impresa_ctype" />
                <xsd:element name="prestato_opera" type="epreope:prestato_opera_ctype" />
                <xsd:element name="diploma" type="ediplo:diploma_ctype"/>
                <xsd:element name="riconoscimento_qualifica_estera_autorita_italiana">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="numero_decreto" type="xsd:string"/>
                            <xsd:element name="data" type="xsd:date"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="possesso_requisito_pratica_professionale">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:element name="iscritto_rea_settore_alimentare">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="anno" type="xsd:positiveInteger"/>
                                        <xsd:element name="CCIAA" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:appinfo>
                                                    <canncl:codeListReference>
                                                        <canncl:ShortName>IT:SUAP:CL:CCIAA</canncl:ShortName>
                                                    </canncl:codeListReference>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="esame_idoneita_rea">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="anno" type="xsd:positiveInteger"/>
                                        <xsd:element name="presso" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="esame_idoneita_turistiche_rea">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="anno" type="xsd:positiveInteger"/>
                                        <xsd:element name="presso" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="sezione_dichiarazione_aree_servizio" type="sdicareser:sezione_dichiarazione_aree_servizio_ctype" />
</xsd:schema>