03_sections/sec_media_grande_struttura_trasferimento_sede_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smegrstrutttrassede="../03_sections/media_grande_struttura_trasferimento_sede"
            xmlns:emegrstrutttrassede="../02_entities/media_grande_struttura_trasferimento_sede"

            targetNamespace="../03_sections/media_grande_struttura_trasferimento_sede" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/media_grande_struttura_trasferimento_sede" schemaLocation="../02_entities/ent_media_grande_struttura_trasferimento_sede_v1.0.5.xsd"/>

    <xsd:complexType name="sezione_media_grande_struttura_trasferimento_sede_ctype">
        <xsd:sequence>
            <xsd:element name="media_grande_struttura_trasferimento_sede" type="emegrstrutttrassede:media_grande_struttura_trasferimento_sede_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_media_grande_struttura_trasferimento_sede" type="smegrstrutttrassede:sezione_media_grande_struttura_trasferimento_sede_ctype"/>

</xsd:schema>
