03_sections/sec_mod_esercizio_vicinato_ampliamento_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:samesvi="../03_sections/mod_esercizio_vicinato_ampliamento"
            xmlns:eamesvi="../02_entities/esercizio_vicinato_ampliamento"

            targetNamespace="../03_sections/mod_esercizio_vicinato_ampliamento"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/esercizio_vicinato_ampliamento"
                schemaLocation="../02_entities/ent_esercizio_vicinato_ampliamento_v1.0.5.xsd"/>

    <xsd:element name="ampliamento_esercizio_vicinato" type="samesvi:ampliamento_esercizio_vicinato_ctype"/>

    <xsd:complexType name="ampliamento_esercizio_vicinato_ctype">
        <xsd:sequence>
            <xsd:element name="ampliamento" type="eamesvi:ampliamento_esercizio_vicinato_ctype" minOccurs="1"
                         maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
