03_sections/sec_subingresso_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ssubing="../03_sections/subingresso"
            xmlns:esubing="../02_entities/subingresso"

            targetNamespace="../03_sections/subingresso" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/subingresso" schemaLocation="../02_entities/ent_subingresso_v1.0.5.xsd"/>

    <xsd:complexType name="sezione_subingresso_ctype">
        <xsd:sequence>
            <xsd:element name="subingresso" type="esubing:subingresso_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_subingresso" type="ssubing:sezione_subingresso_ctype"/>

</xsd:schema>
