03_sections/sec_panifici_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:spanape="../03_sections/panifici_apertura"
            xmlns:epanape="../02_entities/panifici_apertura"

            targetNamespace="../03_sections/panifici_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/panifici_apertura" schemaLocation="../02_entities/ent_panifici_apertura_v1.0.5.xsd"/>

    <xsd:complexType name="sezione_panifici_apertura_ctype">
        <xsd:sequence>
            <xsd:element name="panifici_apertura" type="epanape:panifici_apertura_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_panifici_apertura" type="spanape:sezione_panifici_apertura_ctype"/>

</xsd:schema>
