03_sections/sec_scia_strutture_ricettive_apertura_v1.0.5.sch

<!--
    @data_creazione: 29/07/2025
    @version: 1.0.5
-->

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
    
    <sch:ns uri="../03_sections/sec_scia_strutture_ricettive_apertura_v1.0.5.xsd" prefix="sscstruape"/>


    <!-- da rivedere ent_anagrafica_attivita
      <sch:include href="../02_entities/ent_anagrafica_attivita_v1.0.5.sch#anagrafica_attivita_ab"/>

      <sch:pattern id="sezione_scia_strutture_ricettive_apertura" abstract="false" is-a="anagrafica_attivita_ab">
          <sch:param name="anagrafica_attivita" value="sscstruape:inizio_attivita"/>
      </sch:pattern>
  -->


</sch:schema>
