03_sections/sec_somministrazione_scuole_ospedali_ecc_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sapesomscuosp="../03_sections/somministrazione_scuole_ospedali_ecc_apertura"
            xmlns:eapesomscuosp="../02_entities/somministrazione_scuole_ospedali_ecc_apertura"
            targetNamespace="../03_sections/somministrazione_scuole_ospedali_ecc_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/somministrazione_scuole_ospedali_ecc_apertura" schemaLocation="../02_entities/ent_somministrazione_scuole_ospedali_ecc_apertura_v1.0.5.xsd"/>

    <xsd:complexType name="apertura_somministrazione_scuole_ospedali_ecc_ctype">
        <xsd:sequence>
            <xsd:element name="apertura" type="eapesomscuosp:apertura_somministrazione_scuole_ospedali_ecc_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="apertura_somministrazione_scuole_ospedali_ecc" type="sapesomscuosp:apertura_somministrazione_scuole_ospedali_ecc_ctype"/>
</xsd:schema>
