03_sections/sec_intestazione_strutture_aria_aperta_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sintstruttaa="../03_sections/intestazione_strutture_aria_aperta"
            xmlns:eintaa="../02_entities/intestazione_strutture_aria_aperta"
            targetNamespace="../03_sections/intestazione_strutture_aria_aperta" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/intestazione_strutture_aria_aperta" schemaLocation="../02_entities/ent_intestazione_strutture_aria_aperta_v1.0.5.xsd"/>
    
    <xsd:complexType name="sezione_intestazione_strutture_aria_aperta_ctype">
        <xsd:sequence>
            <xsd:element name="intestazione_strutture_aria_aperta" type="eintaa:intestazione_strutture_aria_aperta_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="sezione_intestazione_strutture_aria_aperta" type="sintstruttaa:sezione_intestazione_strutture_aria_aperta_ctype"/>
</xsd:schema>
