04_forms/mod_lavanderie_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mlavape="../04_forms/lavanderie_apertura"
    xmlns:sschedaanag="../03_sections/scheda_anagrafica"
    xmlns:srifatt="../03_sections/riferimento_attivita"
    xmlns:slavape="../03_sections/lavanderie_apertura"
    xmlns:sdtinlav="../03_sections/dichiarazione_tintolavanderie"
    xmlns:sallimpind="../03_sections/allegato_imprese_individuali"
    xmlns:saltdiclav="../03_sections/altre_dichiarazioni_lavanderie"
    xmlns:sallegati="../03_sections/allegati" targetNamespace="../04_forms/lavanderie_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.0" xml:lang="it">


    <!-- DEFAULT PRE -->
    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/riferimento_attivita" schemaLocation="../03_sections/sec_riferimento_attivita_v1.0.5.xsd"/>

    <!-- MODULO -->
    <xsd:import namespace="../03_sections/lavanderie_apertura" schemaLocation="../03_sections/sec_lavanderie_apertura_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/dichiarazione_tintolavanderie" schemaLocation="../03_sections/sec_dichiarazione_tintolavanderie_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegato_imprese_individuali" schemaLocation="../03_sections/sec_allegato_imprese_individuali_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/altre_dichiarazioni_lavanderie" schemaLocation="../03_sections/sec_altre_dichiarazioni_lavanderie_v1.0.5.xsd"/>

    <!-- DEFAULT POST -->
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>

    <xsd:complexType name="modulo_lavanderie_apertura_ctype">
        <xsd:sequence>
            <!-- DEFAULT PRE -->
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="riferimento_attivita" type="srifatt:riferimento_attivita_type"/>

            <!-- MODULO -->
            <xsd:element name="lavanderie_apertura" type="slavape:sezione_lavanderie_apertura_ctype"/>
            <!--Solo per le tintolavanderie-->
            <xsd:choice>
                <xsd:element name="dichiarazione_tintolavanderie" type="sdtinlav:sezione_dichiarazione_tintolavanderie_ctype"/>
                <xsd:element name="allegato_imprese_individuali" type="sallimpind:sezione_allegato_imprese_individuali_ctype"/>
            </xsd:choice>
            <xsd:element name="altre_dichiarazioni_lavanderie" type="saltdiclav:sezione_altre_dichiarazioni_lavanderie_ctype"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="xsd:boolean" />
            <!-- DEFAULT POST -->
            <xsd:element name="tabella_allegati" type="sallegati:allegati_ctype"/>


        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_lavanderie_apertura" type="mlavape:modulo_lavanderie_apertura_ctype"/>
</xsd:schema>