04_forms/mod_locazione_imprenditoriale_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mlocimpape="../04_forms/locazione_imprenditoriale_apertura"
    xmlns:sschedaanag="../03_sections/scheda_anagrafica"
    xmlns:slocimpape="../03_sections/locazione_imprenditoriale_apertura"
    xmlns:sallegati="../03_sections/allegati" targetNamespace="../04_forms/locazione_imprenditoriale_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/locazione_imprenditoriale_apertura" schemaLocation="../03_sections/sec_locazione_imprenditoriale_apertura_v1.0.5.xsd"/>
    <xsd:complexType name="modulo_locazione_imprenditoriale_apertura_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="apertura" type="slocimpape:sezione_locazione_imprenditoriale_apertura_ctype"/>
            <xsd:element name="tabellaAllegati" type="sallegati:allegati_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_locazione_imprenditoriale_apertura" type="mlocimpape:modulo_locazione_imprenditoriale_apertura_ctype"/>
</xsd:schema>
