04_forms/mod_somministrazione_temporanea_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:msommdomape="../04_forms/somministrazione_temporanea"
            xmlns:ssommtempavvio="../03_sections/somministrazione_temporanea_avvio"
            xmlns:sschedaanag="../03_sections/scheda_anagrafica"
            xmlns:sallegati="../03_sections/allegati"
            targetNamespace="../04_forms/somministrazione_temporanea"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../03_sections/somministrazione_temporanea_avvio"
                schemaLocation="../03_sections/sec_somministrazione_temporanea_avvio_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/scheda_anagrafica"
                schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>

    <xsd:complexType name="modulo_somministrazione_temporanea_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="avvio" type="ssommtempavvio:sezione_somministrazione_temporanea_avvio_ctype"/>
            <xsd:element name="tabellaAllegati" type="sallegati:allegati_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_somministrazione_temporanea" type="msommdomape:modulo_somministrazione_temporanea_ctype"/>
</xsd:schema>
