04_forms/mod_attivita_extra_alberghiere_variazione_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mextraalbvar="../04_forms/attivita_extra_alberghiere_variazione"
            xmlns:sinfoextraalbvar="../03_sections/info_extra_alberghiere_variazione"
            xmlns:sschedaanag="../03_sections/scheda_anagrafica"
            xmlns:srdocextraalb="../03_sections/riepilogo_documentazione_extra_alberghiere"
            targetNamespace="../04_forms/attivita_extra_alberghiere_variazione"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../03_sections/scheda_anagrafica"
                schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/info_extra_alberghiere_variazione"
                schemaLocation="../03_sections/sec_info_extra_alberghiere_variazione_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/riepilogo_documentazione_extra_alberghiere"
                schemaLocation="../03_sections/sec_riepilogo_documentazione_extra_alberghiere_v1.0.5.xsd"/>

    <xsd:complexType name="comunicazione_variazione_extra_alberghiera_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"
                         minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variazioni"
                         type="sinfoextraalbvar:sezione_info_extra_alberghiere_variazione_ctype"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="riepilogo_documentazione"
                         type="srdocextraalb:riepilogo_documentazione_ctype" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="comunicazione_variazione_extra_alberghiera"
                 type="mextraalbvar:comunicazione_variazione_extra_alberghiera_ctype"/>
</xsd:schema>
