04_forms/mod_scheda_anagrafica_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mschanag="../04_forms/scheda_anagrafica"
            xmlns:sschedaanag="../03_sections/scheda_anagrafica" targetNamespace="../04_forms/scheda_anagrafica" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>

    <xsd:complexType name="modulo_scheda_anagrafica_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_scheda_anagrafica" type="mschanag:modulo_scheda_anagrafica_ctype"/>
</xsd:schema>
