04_forms/mod_comunicazione_cessazione_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mcomces="../04_forms/comunicazione_cessazione"
            xmlns:sschedaanag="../03_sections/scheda_anagrafica"
            xmlns:sallegati="../03_sections/allegati"
            xmlns:ssede="../03_sections/sede"
            xmlns:scomces="../03_sections/comunicazione_cessazione"

            targetNamespace="../04_forms/comunicazione_cessazione" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/sede" schemaLocation="../03_sections/sec_sede_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/comunicazione_cessazione" schemaLocation="../03_sections/sec_comunicazione_cessazione_v1.0.5.xsd"/>
    
    <xsd:complexType name="modulo_comunicazione_cessazione_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="sede" type="ssede:sezione_sede_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="sezione_comunicazione_cessazione" type="scomces:sezione_comunicazione_cessazione_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="tabellaAllegati" type="sallegati:allegati_ctype" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="modulo_comunicazione_cessazione" type="mcomces:modulo_comunicazione_cessazione_ctype"/>
</xsd:schema>
