04_forms/mod_agenzia_affari_trasferimento_sede_v1.0.5.sch

<!--
    @data_creazione: 30 July 2025
    @version: 1.0.5
-->
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <sch:ns uri="../04_forms/agenzia_affari_trasferimento_sede" prefix="mod_ag"/>
  <sch:pattern id="mod_ag_pattern">
    <sch:rule context="mod_ag:scheda_anagrafica">
      <sch:assert test="normalize-space(.) != ''">Il campo scheda_anagrafica non può essere vuoto.</sch:assert>
    </sch:rule>
  </sch:pattern>
</sch:schema>
