04_forms/mod_acconciatori_estetisti_trasferimento_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:maccesttra="../04_forms/acconciatori_estetisti_trasferimento"

            xmlns:sschedaanag="../03_sections/scheda_anagrafica"
            xmlns:srifatt="../03_sections/riferimento_attivita"

            xmlns:saccesttra="../03_sections/acconciatori_estetisti_trasferimento"

            xmlns:saltdicaccest="../03_sections/altre_dichiarazioni_acconciatori_estetisti"
            xmlns:sallegati="../03_sections/allegati"

            targetNamespace="../04_forms/acconciatori_estetisti_trasferimento" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <!-- DEFAULT PRE -->
    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/riferimento_attivita" schemaLocation="../03_sections/sec_riferimento_attivita_v1.0.5.xsd"/>

    <!-- MODULO -->
    <xsd:import namespace="../03_sections/acconciatori_estetisti_trasferimento" schemaLocation="../03_sections/sec_acconciatori_estetisti_trasferimento_v1.0.5.xsd"/>

    <!-- DEFAULT POST -->
    <xsd:import namespace="../03_sections/altre_dichiarazioni_acconciatori_estetisti" schemaLocation="../03_sections/sec_altre_dichiarazioni_acconciatori_estetisti_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>

    <xsd:complexType name="modulo_acconciatori_estetisti_trasferimento_ctype">
        <xsd:sequence>
            <!-- DEFAULT PRE -->
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="riferimento_attivita" type="srifatt:riferimento_attivita_type" minOccurs="1" maxOccurs="1"/>

            <!-- MODULO -->
            <xsd:element name="acconciatori_estetisti_trasferimento" type="saccesttra:sezione_acconciatori_estetisti_trasferimento_ctype"/>

            <!-- DEFAULT POST -->

            <xsd:element name="altre_dichiarazioni_acconciatori_estetisti" type="saltdicaccest:sezione_altre_dichiarazioni_acconciatori_estetisti_ctype"/>
            <xsd:element name="tabellaAllegati" type="sallegati:allegati_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_acconciatori_estetisti_trasferimento" type="maccesttra:modulo_acconciatori_estetisti_trasferimento_ctype"/>
</xsd:schema>
