04_forms/mod_locazione_imprenditoriale_variazione_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mlocimpvar="../04_forms/locazione_imprenditoriale_variazione"
    xmlns:sschedaanag="../03_sections/scheda_anagrafica"
    xmlns:slocimpvar="../03_sections/locazione_imprenditoriale_variazione"
    xmlns:sallegati="../03_sections/allegati" targetNamespace="../04_forms/locazione_imprenditoriale_variazione" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/locazione_imprenditoriale_variazione" schemaLocation="../03_sections/sec_locazione_imprenditoriale_variazione_v1.0.5.xsd"/>

    <xsd:complexType name="modulo_locazione_imprenditoriale_variazione_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="variazione" type="slocimpvar:sezione_locazione_imprenditoriale_variazione_ctype"/>
            <xsd:element name="tabellaAllegati" type="sallegati:allegati_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_locazione_imprenditoriale_variazione" type="mlocimpvar:modulo_locazione_imprenditoriale_variazione_ctype"/>
</xsd:schema>
