04_forms/mod_spacci_interni_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mspaintape="../04_forms/spacci_interni_apertura"

            xmlns:sschedaanag="../03_sections/scheda_anagrafica"
            xmlns:srifatt="../03_sections/riferimento_attivita"

            xmlns:sspaintape="../03_sections/spacci_interni_apertura"

            xmlns:saltdiclocint="../03_sections/altre_dichiarazioni_locali_interni"
            xmlns:sallegati="../03_sections/allegati"

            targetNamespace="../04_forms/spacci_interni_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <!-- DEFAULT PRE -->
    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/riferimento_attivita" schemaLocation="../03_sections/sec_riferimento_attivita_v1.0.5.xsd"/>

    <!-- MODULO -->
    <xsd:import namespace="../03_sections/spacci_interni_apertura" schemaLocation="../03_sections/sec_spacci_interni_apertura_v1.0.5.xsd"/>

    <!-- DEFAULT POST -->
    <xsd:import namespace="../03_sections/altre_dichiarazioni_locali_interni" schemaLocation="../03_sections/sec_altre_dichiarazioni_locali_interni_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>

    <xsd:complexType name="modulo_spacci_interni_apertura_ctype">
        <xsd:sequence>
            <!-- DEFAULT PRE -->
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="riferimento_attivita" type="srifatt:riferimento_attivita_type" minOccurs="1" maxOccurs="1"/>

            <!-- MODULO -->
            <xsd:element name="apertura" type="sspaintape:sezione_spacci_interni_apertura_ctype"/>

            <!-- DEFAULT POST -->
            <xsd:element name="altre_dichiarazioni_locali_interni" type="saltdiclocint:sezione_altre_dichiarazioni_locali_interni_ctype"/>
            <xsd:element name="tabellaAllegati" type="sallegati:allegati_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_spacci_interni_apertura" type="mspaintape:modulo_spacci_interni_apertura_ctype"/>
</xsd:schema>
