04_forms/mod_corrispondenza_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mcorrispondenzaape="../04_forms/corrispondenza_apertura"
            xmlns:ssede="../03_sections/sede"
            xmlns:scorrispondenzaape="../03_sections/apertura_corrispondenza"
            xmlns:sdicpro="../03_sections/requisiti_professionali"
            xmlns:sschedaanag="../03_sections/scheda_anagrafica"
            xmlns:sallegati="../03_sections/allegati" targetNamespace="../04_forms/corrispondenza_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/apertura_corrispondenza" schemaLocation="../03_sections/sec_apertura_corrispondenza_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/sede" schemaLocation="../03_sections/sec_sede_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/requisiti_professionali" schemaLocation="../03_sections/sec_requisiti_professionali_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>
    
    <xsd:complexType name="modulo_corrispondenza_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="sede" type="ssede:sezione_sede_ctype"/>
            <xsd:element name="avvio" type="scorrispondenzaape:apertura_corrispondenza_ctype" />
            <xsd:element name="dichiarazione_requisiti" type="sdicpro:sezione_requisiti_professionali_ctype"/>
            <xsd:element name="tabellaAllegati" type="sallegati:allegati_ctype"/>       
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="modulo_corrispondenza" type="mcorrispondenzaape:modulo_corrispondenza_ctype"/>
</xsd:schema>
