04_forms/mod_somministrazione_aree_servizio_ampliamento_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:msomareseramp="../04_forms/somministrazione_aree_servizio_ampliamento"
    xmlns:sschedaanag="../03_sections/scheda_anagrafica"
    xmlns:srifatt="../03_sections/riferimento_attivita"
    xmlns:ssomareseramp="../03_sections/somministrazione_aree_servizio_ampliamento"
    xmlns:sdicareser="../03_sections/dichiarazione_aree_servizio"
    xmlns:saltdicalt="../03_sections/altre_dichiarazioni_altro"
    xmlns:sallimpind="../03_sections/allegato_imprese_individuali"
    xmlns:sallegati="../03_sections/allegati" targetNamespace="../04_forms/somministrazione_aree_servizio_ampliamento" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.0" xml:lang="it">


    <!-- DEFAULT PRE -->
    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/riferimento_attivita" schemaLocation="../03_sections/sec_riferimento_attivita_v1.0.5.xsd"/>


    <!-- MODULO -->
    <xsd:import namespace="../03_sections/somministrazione_aree_servizio_ampliamento" schemaLocation="../03_sections/sec_somministrazione_aree_servizio_ampliamento_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/dichiarazione_aree_servizio" schemaLocation="../03_sections/sec_dichiarazione_aree_servizio_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/allegato_imprese_individuali" schemaLocation="../03_sections/sec_allegato_imprese_individuali_v1.0.5.xsd"/>
    <xsd:import namespace="../03_sections/altre_dichiarazioni_altro" schemaLocation="../03_sections/sec_altre_dichiarazioni_altro_v1.0.5.xsd"/>

    <!-- DEFAULT POST -->
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.5.xsd"/>

    <xsd:complexType name="modulo_somministrazione_aree_servizio_ampliamento_ctype">
        <xsd:sequence>
            <!-- DEFAULT PRE -->
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="riferimento_attivita" type="srifatt:riferimento_attivita_type"/>

            <!-- MODULO -->
            <xsd:element name="sezione_aree_servizio_ampliamento" type="ssomareseramp:sezione_somministrazione_aree_servizio_ampliamento_ctype"/>
            <xsd:choice>
                <xsd:element name="sezione_dichiarazione_aree_servizio" type="sdicareser:sezione_dichiarazione_aree_servizio_ctype"/>
                <xsd:element name="sezione_allegato_imprese_individuali" type="sallimpind:sezione_allegato_imprese_individuali_ctype"/>
            </xsd:choice>
            <xsd:element name="altre_dichiarazioni" type="saltdicalt:sezione_altre_dichiarazioni_altro_ctype"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="xsd:boolean" />
            <!-- DEFAULT POST -->
            <xsd:element name="tabella_allegati" type="sallegati:allegati_ctype"/>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="somministrazione_aree_servizio_ampliamento" type="msomareseramp:modulo_somministrazione_aree_servizio_ampliamento_ctype"/>
</xsd:schema>