02_entities/ent_notifica_sanitaria_apertura_identificazione_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ensapeid="../02_entities/notifica_sanitaria_apertura_identificazione" 
            xmlns:ccodelist="../commons/codelist"      
            xmlns:canncl="../commons/xsdAnnotations" 
            xmlns:ctipi="../commons/tipi" 
            targetNamespace="../02_entities/notifica_sanitaria_apertura_identificazione" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>    
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    
    <xsd:complexType name="notifica_sanitaria_apertura_identificazione_type">
        <xsd:sequence>
            <xsd:element name="cognome_op" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nome_op" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="codice_fiscale_op" type="ctipi:codice_fiscale_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:choice>
                <xsd:element name="in_sede" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="non_sede" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            </xsd:choice>
            <xsd:element name="comune_sede" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provincia_sede" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >                
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ProvinceItaliane</canncl:ShortName>
                        </canncl:codeListReference>                        
                    </xsd:appinfo>                    
                </xsd:annotation>                 
            </xsd:element>
            <xsd:element name="localita" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="cap_sede" type="xsd:string"  minOccurs="0"/>
            <xsd:element name="stato_sede" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:Stati</canncl:ShortName>                            
                        </canncl:codeListReference>                        
                    </xsd:appinfo>
                </xsd:annotation>                  
            </xsd:element>
            <xsd:element name="via_sede" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nCivico_sede" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telefono" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fax" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="altro_domicilio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="notifica_sanitaria_apertura_identificazione" type="ensapeid:notifica_sanitaria_apertura_identificazione_type"></xsd:element>
</xsd:schema>
