02_entities/ent_spacci_interni_trasferimento_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:espainttra="../02_entities/spacci_interni_trasferimento"

            xmlns:ctipi="../commons/tipi"
            xmlns:eproto="../02_entities/protocollo"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"

            targetNamespace="../02_entities/spacci_interni_trasferimento" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../02_entities/protocollo" schemaLocation="../02_entities/ent_protocollo_v1.0.5.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="spacci_interni_trasferimento_ctype">
        <xsd:sequence>
            <xsd:element name="nr_protocollo" type="eproto:numero_registrazione_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data_protocollo" type="ctipi:ggmmaaaa_stype" minOccurs="1" maxOccurs="1"/>

            <!-- <xsd:element name="comune_trasferimento" type="xsd:string" minOccurs="1" maxOccurs="1"/> -->

            <xsd:element name="comune_trasferimento" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="indirizzo_da" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="cap_da" type="ctipi:cap_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="indirizzo_a" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="cap_a" type="ctipi:cap_stype" minOccurs="1" maxOccurs="1"/>

            <!-- il campo Numero Telefono Fisso/Cell. dove prenderlo? -->
            <!-- <xsd:element name="telefono_cellulare" type="ctipi:telefono_mobile_stype" minOccurs="1" maxOccurs="1"/> -->

            <xsd:element name="denominazione_presso" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="alimentare" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="superficie_alimentare" type="xsd:double" default="0.0" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="non_alimentare" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="superficie_non_alimentare" type="xsd:double" default="0.0" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="spacci_interni_trasferimento" type="espainttra:spacci_interni_trasferimento_ctype"/>
</xsd:schema>
