02_entities/ent_dotazioni_struttura_aria_aperta_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:edotstruttaa="../02_entities/dotazioni_struttura_aria_aperta"
            targetNamespace="../02_entities/dotazioni_struttura_aria_aperta" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.5" xml:lang="it">


    <!-- AS-IS: ServiziStrutturaBaseType su SUAP_commond_components.xsd -->
    <xsd:complexType name="servizi_struttura_base_type" abstract="true"/>

    <xsd:complexType name="dotazioni_strutture_aria_aperta_ctype">
        <xsd:complexContent>
            <xsd:extension base="edotstruttaa:servizi_struttura_base_type">

                <xsd:sequence>
                    <xsd:element name="marchi_qualita" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="no_alimenti" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="somministrazione_allogiati" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="somministrazione_pubblica" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="no_pisicina" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="piscina_allogiati" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="nr_impianti_piscina_allogiati" type="xsd:integer" default="0"  minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="misura_impianti_piscina_allogiati" type="xsd:double" default="0.0"  minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="piscina_pubblica" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="nr_impianti_piscina_pubblica" type="xsd:integer" default="0"  minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="misura_impianti_piscina_pubblica" type="xsd:double" default="0.0"  minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="no_centro_estetico" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="centro_estetico_allogiati" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="centro_estetico_pubblico" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="no_palestra" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="palestra_allogiati" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="palestra_pubblica" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="altro" type="xsd:string" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="servizio_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="gestore_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>

            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="dotazioni_strutture_aria_aperta"
                 type="edotstruttaa:dotazioni_strutture_aria_aperta_ctype"/>

</xsd:schema>
