02_entities/ent_protocollo_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                
        xmlns:eproto="../02_entities/protocollo"
            xmlns:ccodelist="../commons/codelist"      
            xmlns:canncl="../commons/xsdAnnotations" 
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/protocollo"
            elementFormDefault="qualified" attributeFormDefault="qualified"    
            version="1.0.5" xml:lang="it">
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>    
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/> 
    <xsd:simpleType name="codice_amministrazione_stype">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="codice_aoo_stype">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="codice_registro_stype">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z0-9_\.\-]{1,16}"/>
            <xsd:minLength value="1"/>            
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="numero_registrazione_stype">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{7,}"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="protocollo_ctype">
        <xsd:sequence>
            <xsd:element name="codice_amministrazione" type="eproto:codice_amministrazione_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="codice_aoo" type="eproto:codice_aoo_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="codice_registro" type="eproto:codice_registro_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="numero_registrazione" type="eproto:numero_registrazione_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data_registrazione" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="ora_registrazione" type="xsd:time" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="comune" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>                        
                    </xsd:appinfo>                    
                </xsd:annotation>                 
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
