02_entities/ent_somministrazione_zone_non_tutelate_apertura_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:esomzonnontutape="../02_entities/somministrazione_zone_non_tutelate_apertura"
            targetNamespace="../02_entities/somministrazione_zone_non_tutelate_apertura"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <!-- AS-IS: InCentroCommercialeBaseType su SUAP_commond_components.xsd -->
    <xsd:complexType name="in_centro_commerciale_base_type" abstract="true"/>

    <xsd:complexType name="in_centro_commerciale_ctype">
        <xsd:complexContent>
            <xsd:extension base="esomzonnontutape:in_centro_commerciale_base_type">
                <xsd:sequence>
                    <xsd:element name="centro_commerciale_si" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="centro_commerciale_no" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="centro_commerciale_denominazione" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="somministrazione_zone_non_tutelate_apertura_ctype">
        <xsd:sequence>
            <xsd:element name="denominazione_insegna" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="permanente_check" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
            <xsd:element name="stagionale_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="da_stagionale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="a_stagionale" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <!-- Campo ambiguo da rendere non obbligatorio -->
            <xsd:element name="tipologia_esercizio" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="in_centro_commerciale" type="esomzonnontutape:in_centro_commerciale_base_type" minOccurs="0" maxOccurs="1"/>
            <!--
            <xsd:element name="centro_commerciale_si" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="centro_commerciale_no" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="centro_commerciale_denominazione" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            -->
            <xsd:element name="superficie" type="xsd:double" default="0.0" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="somministrazione_zone_non_tutelate_apertura" type="esomzonnontutape:somministrazione_zone_non_tutelate_apertura_ctype"/>
</xsd:schema>
