02_entities/ent_altre_dichiarazioni_somministrazione_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:ealtdicsom="../02_entities/altre_dichiarazioni_somministrazione"

            targetNamespace="../02_entities/altre_dichiarazioni_somministrazione"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:complexType name="altre_dichiarazioni_somministrazione_ctype">
        <xsd:sequence>
            <xsd:element name="altre_dichiarazioni_somministrazione_vendita_alcolici_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="altre_dichiarazioni_somministrazione_altro_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="altre_dichiarazioni_somministrazione_altro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="altre_dichiarazioni_somministrazione" type="ealtdicsom:altre_dichiarazioni_somministrazione_ctype"/>
</xsd:schema>
