02_entities/ent_modalita_gestione_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:emodges="../02_entities/modalita_gestione"
            targetNamespace="../02_entities/modalita_gestione"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:complexType name="modalita_gestione_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="somministrazione_diretta" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="somministrazione_soggetti_terzi" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modalita_gestione" type="emodges:modalita_gestione_ctype"/>
</xsd:schema>
