02_entities/ent_dati_attivita_vendita_sottocosto_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:edatattvensot="../02_entities/dati_attivita_vendita_sottocosto"
            xmlns:ctipi="../commons/tipi"
            xmlns:eproto="../02_entities/protocollo"
            targetNamespace="../02_entities/dati_attivita_vendita_sottocosto"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../02_entities/protocollo" schemaLocation="../02_entities/ent_protocollo_v1.0.5.xsd"/>

    <xsd:complexType name="insegna_esercizio_base_type" abstract="true"/>

    <xsd:complexType name="dati_attivita_vendita_sottocosto_ctype">
        <xsd:sequence>
            <xsd:element name="esercizio_vicinato_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="media_struttura_vendita_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="grande_struttura_vendita_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="avvio_scia_dia_comunicazione_autorizzazione" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="avvio_nr_protocollo" type="eproto:numero_registrazione_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="avvio_data_protocollo" type="ctipi:ggmmaaaa_stype" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="insegna_esercizio" type="edatattvensot:insegna_esercizio_base_type" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="insegna_esercizio_ctype">
        <xsd:complexContent>
            <xsd:extension base="edatattvensot:insegna_esercizio_base_type">
                <xsd:sequence>
                    <xsd:element name="nome_esercizio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="dati_attivita_vendita_sottocosto" type="edatattvensot:dati_attivita_vendita_sottocosto_ctype"/>
</xsd:schema>
