02_entities/ent_altre_dichiarazioni_somministrazione_locali_esercizio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:ealtdicsomlocese="../02_entities/altre_dichiarazioni_somministrazione_locali_esercizio"

            targetNamespace="../02_entities/altre_dichiarazioni_somministrazione_locali_esercizio"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:complexType name="altre_dichiarazioni_somministrazione_locali_esercizio_ctype">
        <xsd:sequence>
            <xsd:element name="altre_dichiarazioni_somministrazione_locali_esercizio_altro_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="altre_dichiarazioni_somministrazione_locali_esercizio_altro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="altre_dichiarazioni_somministrazione_locali_esercizio" type="ealtdicsomlocese:altre_dichiarazioni_somministrazione_locali_esercizio_ctype"/>
</xsd:schema>
