02_entities/ent_aree_servizio_ampliamento_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:esomarsera="../02_entities/aree_servizio_ampliamento"
    xmlns:ctipi="../commons/tipi"
    xmlns:ccodelist="../commons/codelist"
    xmlns:canncl="../commons/xsdAnnotations" targetNamespace="../02_entities/aree_servizio_ampliamento" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>


    <xsd:complexType name="aree_servizio_ampliamento_base_type" abstract="true"/>

    <xsd:complexType name="aree_servizio_ampliamento_ctype">
        <xsd:complexContent>
            <xsd:extension base="esomarsera:aree_servizio_ampliamento_base_type">
                <xsd:sequence>
                    <xsd:element name="nr_prot" type="xsd:positiveInteger"/>
                    <xsd:element name="data" type="xsd:date"/>
                    <xsd:element name="da_mp" type="xsd:double"/>
                    <xsd:element name="a_mq" type="xsd:double"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:element name="aree_servizio_ampliamento" type="esomarsera:aree_servizio_ampliamento_ctype"/>
</xsd:schema>
    