02_entities/ent_notifica_sanitaria_modifica_tipologia_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ensmodtipo="../02_entities/notifica_sanitaria_modifica_tipologia"
            xmlns:ctipi="../commons/tipi" targetNamespace="../02_entities/notifica_sanitaria_modifica_tipologia" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    
    <xsd:complexType name="notifica_sanitaria_modifica_tipologia_ctype">
        <xsd:sequence>
            <xsd:element name="cognome_op" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nome_op" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="codice_fiscale_op" type="ctipi:codice_fiscale_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nr_scia_protocollo" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_scia_protocollo" type="xsd:date" minOccurs="0" maxOccurs="1"/>
            
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="notifica_sanitaria_modifica_tipologia" type="ensmodtipo:notifica_sanitaria_modifica_tipologia_ctype"></xsd:element>
</xsd:schema>
