02_entities/ent_persona_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:epers="../02_entities/persona"
            xmlns:vpergen="../01_vocabularies/persona_genere"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:ctipi="../commons/tipi" targetNamespace="../02_entities/persona" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../01_vocabularies/persona_genere" schemaLocation="../01_vocabularies/voc_persona_genere_v1.0.5.xsd"/>
    
    <xsd:simpleType name="localita_estero_stype">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
            <xsd:minLength value="1"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="persona_ctype">
        <xsd:sequence>
            <xsd:element name="cognome" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nome" type="ctipi:stringa_standard_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="codice_fiscale" type="ctipi:codice_fiscale_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="sesso" type="vpergen:sesso_voc" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="comune_nascita" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1" >                
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>                        
                    </xsd:appinfo>                    
                </xsd:annotation>                 
            </xsd:element>
            <xsd:element name="provincia_nascita" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1" >                
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ProvinceItaliane</canncl:ShortName>
                        </canncl:codeListReference>                        
                    </xsd:appinfo>                    
                </xsd:annotation>                 
            </xsd:element>
            <xsd:element name="stato_nascita" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:Stati</canncl:ShortName>                            
                        </canncl:codeListReference>                        
                    </xsd:appinfo>
                </xsd:annotation>                  
            </xsd:element>
            <xsd:element name="data_nascita" type="ctipi:ggmmaaaa_stype"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="persona" type="epers:persona_ctype"/>
</xsd:schema>
