02_entities/ent_settore_alimentare_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:esetali="../02_entities/settore_alimentare"
            targetNamespace="../02_entities/settore_alimentare"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:complexType name="settore_alimentare_ctype">
        <xsd:sequence>
            <xsd:element name="alimentare" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="non_alimentare" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="settore_alimentare" type="esetali:settore_alimentare_ctype"/>
</xsd:schema>
