02_entities/ent_allegato_semestrale_apparecchi_automatici_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:eallsemappaut="../02_entities/allegato_semestrale_apparecchi_automatici"
            xmlns:eallperana="../02_entities/allegato_persona_anagrafica"

            xmlns:efile="../02_entities/files"

            targetNamespace="../02_entities/allegato_semestrale_apparecchi_automatici"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/files" schemaLocation="../02_entities/ent_files_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/allegato_persona_anagrafica" schemaLocation="../02_entities/ent_allegato_persona_anagrafica_v1.0.5.xsd"/>


    <xsd:complexType name="allegato_semestrale_apparecchi_automatici_ctype">
        <xsd:complexContent>
            <xsd:extension base="efile:file_ctype">
                <xsd:sequence>
                    <xsd:element name="installazioni" type="eallsemappaut:ApparecchiAutomaticiType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="disinstallazioni" type="eallsemappaut:ApparecchiAutomaticiType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xsd:boolean" />
                </xsd:sequence>
                <xsd:attribute name="anno" type="xsd:integer"/>
                <xsd:attribute name="primoSemetre" type="xsd:boolean" default="true"/>

            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ApparecchiAutomaticiType">
        <xsd:sequence>
            <xsd:element name="numeroTotale" type="xsd:integer"/>
            <xsd:element name="numeroAlimenti" type="xsd:integer"/>
            <xsd:element name="areaPubblica" type="xsd:boolean" default="true"/>
            <xsd:element name="indirizzo" type="eallperana:IndirizzoType"/>
            <xsd:element name="presso" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:element name="allegato_semestrale_apparecchi_automatici" type="eallsemappaut:allegato_semestrale_apparecchi_automatici_ctype"/>

</xsd:schema>