02_entities/ent_riepilogo_documentazione_agenzie_viaggio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:erdocav="../02_entities/riepilogo_documentazione_agenzie_viaggio"
    xmlns:einfoprivacy="../02_entities/informativa_privacy" targetNamespace="../02_entities/riepilogo_documentazione_agenzie_viaggio" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/informativa_privacy" schemaLocation="../02_entities/ent_informativa_privacy_v1.0.5.xsd"/>

    <xsd:complexType name="riepilogo_documentazione_agenzie_viaggio_base_type" abstract="true"/>

    <xsd:complexType name="riepilogo_documentazione_agenzie_viaggio_ctype">
        <xsd:complexContent>
            <xsd:extension base="erdocav:riepilogo_documentazione_agenzie_viaggio_base_type">

                <xsd:sequence>
                    <xsd:element name="scia_unica_dichiarazione" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="scia_condizionata_dichiarazione" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="informativa_privacy_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="data_dichiarazione" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="firma" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="informativa_privacy" type="einfoprivacy:informativa_privacy_ctype" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="procura_delega" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="copia_documento_identita" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="planimetria_quotata_locali" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="dichiarazioni_requisiti_a" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="dichiarazioni_requisiti_b" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="scia_unica" default="false" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>


                    <xsd:element name="scia_insegna_esercizio" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="altre_scia" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="altre_comunicazioni" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="scia_condizionata" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>


                    <xsd:element name="documentazione_rilascio_insegna" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="altre_domande" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>


                    <xsd:element name="attestazioni_versamenti" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="attestazioni_bollo" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="riepilogo_documentazione_agenzie_viaggio" type="erdocav:riepilogo_documentazione_agenzie_viaggio_ctype"/>
</xsd:schema>
