02_entities/ent_prestato_opera_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:epreope="../02_entities/prestato_opera"
    xmlns:eist="../02_entities/istituto"
    xmlns:eruodip="../02_entities/ruolo_dipendente"
    xmlns:eiscrea="../02_entities/iscrizione_REA"
    xmlns:ctipi="../commons/tipi"
    xmlns:ccodelist="../commons/codelist"
    xmlns:canncl="../commons/xsdAnnotations" targetNamespace="../02_entities/prestato_opera" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/istituto" schemaLocation="../02_entities/ent_istituto_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/iscrizione_REA" schemaLocation="../02_entities/ent_iscrizione_REA_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/ruolo_dipendente" schemaLocation="../02_entities/ent_ruolo_dipendente_v1.0.5.xsd" />
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd" />
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd" />
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd" />


    <xsd:complexType name="prestato_opera_ctype">
        <xsd:sequence>
            <xsd:element name="nome_impresa" type="xsd:string"/>
            <xsd:element name="sede_impresa" type="xsd:string"/>
            <xsd:choice>
                <xsd:element name="dipendente_qualificato" type="eruodip:ruolo_dipendente_ctype"/>
                <xsd:element name="coauditore_familiare" type="eruodip:ruolo_dipendente_ctype"/>
                <xsd:element name="socio_lavoratore" type="eruodip:ruolo_dipendente_ctype"/>
                <xsd:element name="altro_ruolo" type="eruodip:ruolo_dipendente_ctype"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="prestato_opera" type="epreope:prestato_opera_ctype" />


</xsd:schema>