02_entities/ent_altre_dichiarazioni_locali_interni_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ealtdiclocint="../02_entities/altre_dichiarazioni_locali_interni"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            targetNamespace="../02_entities/altre_dichiarazioni_locali_interni" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>

    <xsd:complexType name="altre_dichiarazioni_locali_interni_ctype">
        <xsd:sequence>
            <xsd:element name="dipendenti_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="militari_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="soci_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="accesso_scuole_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="accesso_ospedali_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

            <!-- Elementi aggiuntivi richiesti al 11-07-2025 -->
            <!-- TODO: elemeni nuovi usati solo per il modulo di Subingresso -->
            <xsd:element name="nome" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="cognome" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="codiceIstat" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cin" type="ealtdiclocint:cin_stype" minOccurs="0" maxOccurs="1"/>
            <!-- da inserire usando nuovo vocabolario: codici istat regioni e province -->
            <xsd:element name="codiceIstatRegione" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="codiceIstatProvincia" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <!-- Non serve? -->
            <!-- <xsd:element name="superficie_alimentare" type="xsd:double" default="0.0" minOccurs="0" maxOccurs="1"/> -->

            <!-- Altro dove andare a prenderlo? -->
            <!-- <xsd:element name="altro" type="xsd:string" minOccurs="1" maxOccurs="1"/> -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="cin_stype">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="IT\d{3}\d{3}[A-Z]\d{1}[A-Z]{1}\d{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="altre_dichiarazioni_locali_interni" type="ealtdiclocint:altre_dichiarazioni_locali_interni_ctype"/>
</xsd:schema>
