02_entities/ent_cittadinanza_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                
        xmlns:ecitt="../02_entities/cittadinanza"
                
        xmlns:ccodelist="../commons/codelist" 
            xmlns:canncl="../commons/xsdAnnotations" 
                
        targetNamespace="../02_entities/cittadinanza"
            elementFormDefault="qualified" attributeFormDefault="qualified"    
            version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>    
    
    <xsd:complexType name="cittadinanza_ctype">
        <xsd:sequence>
            <xsd:element name="stato_cittadinanza" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>                        
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:Stati</canncl:ShortName>                            
                        </canncl:codeListReference>                        
                    </xsd:appinfo>
                </xsd:annotation>                  
            </xsd:element>
        </xsd:sequence>        
    </xsd:complexType>      
    
    <xsd:element name="cittadinanza" type="ecitt:cittadinanza_ctype"/>
</xsd:schema>
