02_entities/ent_attivita_sede_fissa_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:easfs="../02_entities/attivita_sede_fissa" 
    xmlns:ccodelist="../commons/codelist"      
    xmlns:canncl="../commons/xsdAnnotations" 
    xmlns:ctipi="../commons/tipi" 
    targetNamespace="../02_entities/attivita_sede_fissa" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>    
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    
    <xsd:complexType name="sede_fissa_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="sede_principale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="filiale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element name="nScia" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="data" type="ctipi:ggmmaaaa_stype"/>
            <xsd:element name="comune" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="data_planimetria" type="ctipi:ggmmaaaa_stype"/>
            <xsd:element name="n_prot" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sede_fissa" type="easfs:sede_fissa_ctype"/>
</xsd:schema>
