02_entities/ent_nomina_rappresentante_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:enomrap="../02_entities/nomina_rappresentante" targetNamespace="../02_entities/nomina_rappresentante" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:complexType name="nomina_rappresentante_ctype">
        <xsd:sequence>
            <xsd:element name="nome" type="xsd:string"/>
            <xsd:element name="cognome" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="nomina_rappresentante" type="enomrap:nomina_rappresentante_ctype" />
</xsd:schema>
