02_entities/ent_somministrazione_temporanea_avvio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:esommtempavvio="../02_entities/somministrazione_temporanea_avvio"
            xmlns:eindita="../02_entities/indirizzo_italiano"
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/somministrazione_temporanea_avvio" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/indirizzo_italiano" schemaLocation="../02_entities/ent_indirizzo_italiano_v1.0.5.xsd"/>   
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>  
    
    <xsd:complexType name="somministrazione_temporanea_avvio_ctype">
        <xsd:sequence>
            <xsd:element name="tipologiaManifestazione" type="esommtempavvio:TipologiaManifestazioneType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="indirizzo_manifestazione" type="eindita:indirizzo_italiano_ctype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="modalitaSomministrazione" type="esommtempavvio:ModalitaSomministrazioneType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="periodo_da" type="ctipi:ggmmaaaa_stype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="periodo_a" type="ctipi:ggmmaaaa_stype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="TipologiaManifestazioneType">
        <xsd:choice>
            <xsd:element name="sagra" type="xsd:boolean"/>
            <xsd:element name="fiera" type="xsd:boolean"/>
            <xsd:element name="religiosaTradizionaleCulturale" type="xsd:boolean"/>
            <xsd:element name="eventoLocale" type="xsd:boolean"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="ModalitaSomministrazioneType">
        <xsd:sequence>
            <xsd:element name="apertoPrivata" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="apertoPubblica" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="internoPrivata" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="internoPubblica" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="somministrazione_temporanea_avvio" type="esommtempavvio:somministrazione_temporanea_avvio_ctype"/>
</xsd:schema>
