02_entities/ent_autorimesse_altre_dichiarazioni_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:edichautorimesse="../02_entities/autorimesse_altre_dichiarazioni"
            targetNamespace="../02_entities/autorimesse_altre_dichiarazioni" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.5" xml:lang="it">


    <xsd:complexType name="autorimesse_altre_dichiarazioni_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="non_superiore_300" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="compreso_300_1000" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="compreso_1000_3000" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="superiore_3000" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            </xsd:choice>
            <xsd:element name="altro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="autorimesse_altre_dichiarazioni" type="edichautorimesse:autorimesse_altre_dichiarazioni_ctype"/>
</xsd:schema>
