02_entities/ent_dati_catastali_locazioni_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:edacaloc="../02_entities/dati_catastali_locazioni"
    xmlns:edaca="../02_entities/dati_catastali"
    targetNamespace="../02_entities/dati_catastali_locazioni"
    elementFormDefault="qualified" attributeFormDefault="qualified"    
    version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/dati_catastali" schemaLocation="../02_entities/ent_dati_catastali_v1.0.5.xsd"/>

    <xsd:simpleType name="codice_ateco_stype">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z][0-9]{2}(\.[0-9]{1,4})?"/>
        </xsd:restriction>
    </xsd:simpleType>


    <!-- AS-IS: astrazione pdf -->
    <xsd:complexType name="dati_catastali_locazioni_base_type" abstract="true"/>

    <xsd:complexType name="dati_catastali_locazioni_ctype">
        <xsd:complexContent>
            <xsd:extension base="edacaloc:dati_catastali_locazioni_base_type">
                <xsd:sequence>
                    <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <xsd:element name="dati_catastali" type="edaca:dati_catastali_ctype"/>
                        <xsd:element name="categoria" type="xsd:string" nillable="true"/>
                    </xsd:choice>
                    <xsd:element name="cod_ateco_prevalente" type="edacaloc:codice_ateco_stype" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="cod_ateco_secondario" type="edacaloc:codice_ateco_stype" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>




<!--    <xsd:complexType name="dati_catastali_locazioni_ctype">   -->
<!--        <xsd:sequence>-->
<!--            <xsd:choice minOccurs="1" maxOccurs="unbounded">-->
<!--                <xsd:element name="dati_catastali" type="edaca:dati_catastali_ctype"/>-->
<!--                <xsd:element name="categoria" type="xsd:string" nillable="true"/>-->
<!--            </xsd:choice>-->
<!--            <xsd:element name="cod_ateco_prevalente" type="edacaloc:codice_ateco_stype" minOccurs="1" maxOccurs="1"/>-->
<!--            <xsd:element name="cod_ateco_secondario" type="edacaloc:codice_ateco_stype" minOccurs="0" maxOccurs="1"/>-->
<!--        </xsd:sequence>-->
<!--    </xsd:complexType>-->
    
    <xsd:element name="dati_catastali_locazioni" type="edacaloc:dati_catastali_locazioni_ctype"/>
</xsd:schema>
