02_entities/ent_dichiarazione_comunicazione_variazioni_commercio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:edichcomvarcomm="../02_entities/dichiarazione_comunicazione_variazioni_commercio"
    xmlns:ccodelist="../commons/codelist"
    xmlns:canncl="../commons/xsdAnnotations" targetNamespace="../02_entities/dichiarazione_comunicazione_variazioni_commercio" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>

    <xsd:complexType name="dichiarazioni_comunicazione_variazioni_commercio_ctype">

        <xsd:sequence>
            <xsd:element name="dichiarazione_possesso_requisiti" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="corso_professionale_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nome_istituto" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sede" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="oggetto_corso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="anno_conclusione" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>


            <xsd:element name="esercizio_in_proprio_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tipo_attivita_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_da_attivita_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_a_attivita_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tipo_attivita_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_da_attivita_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_a_attivita_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tipo_attivita_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_da_attivita_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_a_attivita_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="comune_camera_commercio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nr_rea" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="registro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nr_estremi_registrazione" type="xsd:string" minOccurs="0" maxOccurs="1"/>


            <xsd:element name="esercizio_impresa_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nome_impresa" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sede_impresa" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="dipendente_qualificato" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_da_dipendente_qualificato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_a_dipendente_qualificato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="coadiutore_familiare" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_da_coadiutore_familiare" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_a_coadiutore_familiare" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="socio_lavoratore" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_da_socio_lavoratore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_a_socio_lavoratore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="altre_posizioni_check" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="altre_posizioni" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_da_altre_posizioni" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_a_altre_posizioni" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="percorso_studi_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nome_ente_percorso_studi" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="anno_conclusione_percorso_studi" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="materie_attinenti_percorso_studi" type="xsd:string" minOccurs="0" maxOccurs="1"/>


            <xsd:element name="qualifica_estera_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="decreto_qualifica_estera" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="data_qualifica_estera" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="requisito_professionalita_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="iscrizione_rec" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="anno_iscrizione_rec" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="cc_iscrizione_rec" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="esame_idoneita" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="anno_esame_idoneita" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="luogo_esame_idoneita" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="esame_idoneita_turistico" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="anno_esame_idoneita_turistico" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="luogo_esame_idoneita_turistico" type="xsd:string" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="no_variazione_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nominativo" type="xsd:string" default="false" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="dichiarazioni_comunicazione_variazioni_commercio" type="edichcomvarcomm:dichiarazioni_comunicazione_variazioni_commercio_ctype"/>
</xsd:schema>
