02_entities/ent_modalita_vendita_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:emodven="../02_entities/modalita_vendita"

            targetNamespace="../02_entities/modalita_vendita"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <!-- AS-IS: ModalitaVenditaSuperficieBaseType su SUAP_commond_components.xsd -->
    <xsd:complexType name="modalita_vendita_base_type" abstract="true"/>

    <xsd:complexType name="modalita_vendita_ctype">
        <xsd:complexContent>
            <xsd:extension base="emodven:modalita_vendita_base_type">
                <xsd:sequence>
                    <xsd:element name="vendita_dettaglio" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="vendita_dettaglio_ingrosso" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="modalita_vendita" type="emodven:modalita_vendita_ctype"/>
</xsd:schema>
