02_entities/ent_variazioni_attivita_extra_alberghiera_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:evarextraalb="../02_entities/variazioni_attivita_extra_alberghiera"
            targetNamespace="../02_entities/variazioni_attivita_extra_alberghiera"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">


    <!-- AS-IS: variazioni parte nuova pdf -->
    <xsd:complexType name="variazioni_extra_alberghiere_base_type" abstract="true"/>

    <xsd:simpleType name="cin_stype">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="IT\d{3}\d{3}[A-Z]\d{1}[A-Z]{1}\d{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="variazioni_extra_alberghiera_ctype">
        <xsd:complexContent>
            <xsd:extension base="evarextraalb:variazioni_extra_alberghiere_base_type">
                <xsd:sequence>
                    <xsd:element name="cin" type="evarextraalb:cin_stype" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="nr_protocollo" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="data_protocollo" type="xsd:string" minOccurs="1" maxOccurs="1"/>

                    <xsd:element name="variazione_posti_letto" type="xsd:boolean" default="false"
                                 minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="posti_letto_ante" type="xsd:integer" default="0" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="posti_letto_post" type="xsd:integer" default="0" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="variazione_dotazioni" type="xsd:boolean" default="false"
                                 minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="variazione_classificazione" type="xsd:boolean" default="false"
                                 minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="classificazione_ante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="classificazione_post" type="xsd:string" minOccurs="0" maxOccurs="1"/>

                    <xsd:element name="altre_variazioni" type="xsd:boolean" default="false" minOccurs="0"
                                 maxOccurs="1"/>
                    <xsd:element name="tipo_altra_variazione" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="altra_variazione_ante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="altra_variazione_post" type="xsd:string" minOccurs="0" maxOccurs="1"/>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="variazioni_extra_alberghiera"
                 type="evarextraalb:variazioni_extra_alberghiera_ctype"/>
</xsd:schema>
