02_entities/ent_media_grande_struttura_trasferimento_sede_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:emegrstrutttrassede="../02_entities/media_grande_struttura_trasferimento_sede"
            xmlns:esetmer="../02_entities/settori_merceologici"
            xmlns:eindita="../02_entities/indirizzo_italiano"
            xmlns:eproto="../02_entities/protocollo"
            targetNamespace="../02_entities/media_grande_struttura_trasferimento_sede"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/protocollo" schemaLocation="./ent_protocollo_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/settori_merceologici" schemaLocation="./ent_settori_merceologici_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/indirizzo_italiano" schemaLocation="./ent_indirizzo_italiano_v1.0.5.xsd"/>

    <xsd:complexType name="locazione_centro_commerciale_ctype">
        <xsd:sequence>
            <xsd:element name="locato_in_cc" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="denominazione_cc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="non_locato_in_cc" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="media_grande_struttura_trasferimento_sede_ctype">
        <xsd:sequence>
            <xsd:element name="segnalazione_trasferimento" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:element name="media_struttura" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="grande_struttura" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                        </xsd:choice>
                        <xsd:element name="esclusiva_apparecchi_automatici" type="xsd:boolean" minOccurs="0"
                                     maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="comunicazione_trasferimento_sede" type="eproto:protocollo_ctype" minOccurs="1"
                         maxOccurs="1"/>
            <xsd:element name="indirizzo_precedente" type="eindita:indirizzo_italiano_ctype" minOccurs="1"/>
            <xsd:element name="locazione_cc_pre" type="emegrstrutttrassede:locazione_centro_commerciale_ctype"
                         minOccurs="1"/>
            <xsd:element name="indirizzo_nuovo" type="eindita:indirizzo_italiano_ctype" minOccurs="1"/>
            <xsd:element name="telefono_cellulare" type="xsd:string" minOccurs="0"/>
            <xsd:element name="locazione_cc_post" type="emegrstrutttrassede:locazione_centro_commerciale_ctype"
                         minOccurs="1"/>
            <xsd:element name="settori_merceologici" type="esetmer:settori_merceologici_base_type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="media_grande_struttura_trasferimento_sede"
                 type="emegrstrutttrassede:media_grande_struttura_trasferimento_sede_ctype"/>
</xsd:schema>
