02_entities/ent_intestazione_moduli_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:eintmod="../02_entities/intestazione_moduli"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:ctipi="../commons/tipi"
            xmlns:eindita="../02_entities/indirizzo_italiano"
            targetNamespace="../02_entities/intestazione_moduli"
            elementFormDefault="qualified" attributeFormDefault="qualified"    
            version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../02_entities/indirizzo_italiano" schemaLocation="../02_entities/ent_indirizzo_italiano_v1.0.5.xsd"/>
    
    <xsd:complexType name="intestazione_moduli_ctype">
        <xsd:sequence>
            <xsd:element name="comune_suap" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzo_comune" type="eindita:indirizzo_italiano_ctype" minOccurs="0" maxOccurs="1"/>      
            <xsd:element name="pec_suap" type="ctipi:email_stype" minOccurs="1" maxOccurs="1"/>       
        </xsd:sequence>        
    </xsd:complexType>      
    
    <xsd:element name="intestazione_moduli" type="eintmod:intestazione_moduli_ctype"/>
</xsd:schema>
