02_entities/ent_allegato_dichiarazioni_requisiti_professionali_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:ealldicreqpro="../02_entities/allegato_dichiarazioni_requisiti_professionali"
            xmlns:eallperana="../02_entities/allegato_persona_anagrafica"

            targetNamespace="../02_entities/allegato_dichiarazioni_requisiti_professionali"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/allegato_persona_anagrafica" schemaLocation="../02_entities/ent_allegato_persona_anagrafica_v1.0.5.xsd"/>


    <xsd:complexType name="allegato_dichiarazioni_requisiti_professionali_ctype">
        <xsd:sequence>
            <xsd:element name="sedePrincipale" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="possessoDiplomaIstruzioneSecondoGrado" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="in" type="xsd:string"/>
                                    <xsd:element name="luogo" type="xsd:string"/>
                                    <xsd:element name="annoScolasticoDa" >
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:integer">
                                                <xsd:minInclusive value="1"/>
                                                <xsd:maxInclusive value="9999"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="annoScolasticoA" >
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:integer">
                                                <xsd:minInclusive value="1"/>
                                                <xsd:maxInclusive value="9999"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>

                        <xsd:group ref="ealldicreqpro:possessoRequistiInsegnateGroup"/>

                        <xsd:element name="esperienzaBiennaleInsegnante" type="ealldicreqpro:TabellaEsperienzaInsegnanteType" minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="sedeUlteriore" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nominativo" type="xsd:string"/>
                        <xsd:element name="inOrganicoCome">
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="dipendente" type="eallperana:EmptyType"/>
                                    <xsd:element name="collaboratoreFamiliare" type="eallperana:EmptyType"/>
                                    <xsd:element name="socio" type="eallperana:EmptyType"/>
                                    <xsd:element name="amministratore" type="eallperana:EmptyType"/>
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="TabellaEsperienzaInsegnanteType">
        <xsd:sequence>
            <xsd:element name="esperienza" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="denominazione" type="xsd:string"/>
                        <xsd:element name="provincia" type="xsd:string"/>
                        <xsd:element name="periodo" type="eallperana:PeriodoType"/>
                        <xsd:element name="inQualitaDi">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="eallperana" type="eallperana:EmptyType"/>
                                    <xsd:element name="istruttore" type="eallperana:EmptyType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="possessoRequistiInsegnateGroup">
        <xsd:sequence>
            <xsd:element name="possessoAbilitazioneInsegnanteTeoria" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attoRilascio" type="eallperana:AttoRilasciatoDaType"/>
                        <xsd:element name="dataRinnovo" type="xsd:date"/>
                        <xsd:element name="luogoRinnovo" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="possessoAbilitazioneInsegnanteGuida" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attoRilascio" type="eallperana:AttoRilasciatoDaType"/>
                        <xsd:element name="dataRinnovo" type="xsd:date"/>
                        <xsd:element name="luogoRinnovo" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>


    <xsd:element name="allegato_dichiarazioni_requisiti_professionali" type="ealldicreqpro:allegato_dichiarazioni_requisiti_professionali_ctype"/>

</xsd:schema>