02_entities/ent_informativa_privacy_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:einfoprivacy="../02_entities/informativa_privacy"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/informativa_privacy" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>

    <xsd:complexType name="informativa_privacy_ctype">
        <xsd:sequence>

            <xsd:element name="comune" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="email_pec" type="ctipi:email_stype"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="responsabile_trattamento" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="comune_richieste" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mail" type="ctipi:email_stype"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="mail_responsabile" type="ctipi:email_stype" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="informativa_privacy" type="einfoprivacy:informativa_privacy_ctype"/>
</xsd:schema>
