02_entities/ent_centro_commerciale_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:ecencom="../02_entities/centro_commerciale"

            xmlns:ctipi="../commons/tipi"

            targetNamespace="../02_entities/centro_commerciale"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>


    <xsd:complexType name="centro_commerciale_ctype">
        <xsd:sequence>
            <xsd:element name="presente" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="partita_iva" type="ctipi:partita_iva_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="codice_fiscale" type="ctipi:codice_fiscale_persona_giuridica_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="denominazione_centro_commerciale" type="ctipi:stringa_standard_stype" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="centro_commerciale" type="ecencom:centro_commerciale_ctype"/>
</xsd:schema>
