02_entities/ent_allegato_imprese_individuali_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:eallimpind="../02_entities/allegato_imprese_individuali"
            xmlns:efile="../02_entities/files"
            targetNamespace="../02_entities/allegato_imprese_individuali" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.2" xml:lang="it">

    
    <xsd:import namespace="../02_entities/files" schemaLocation="../02_entities/ent_files_v1.0.5.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>  
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <xsd:complexType name="allegato_imprese_individuali_ctype">
        <xsd:sequence>
            <xsd:element name="responsabile_tecnico" type="xsd:string"/>
            <xsd:element name="file_allegato" type="efile:file_ctype" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="allegato_imprese_individuali" type="eallimpind:allegato_imprese_individuali_ctype"/>
</xsd:schema>
