02_entities/ent_periodo_inserimento_imprese_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:eperinsimp="../02_entities/periodo_inserimento_imprese"
    xmlns:eist="../02_entities/istituto"
    xmlns:eiscrea="../02_entities/iscrizione_REA"
    xmlns:ctipi="../commons/tipi"
    xmlns:ccodelist="../commons/codelist"
    xmlns:canncl="../commons/xsdAnnotations"
    targetNamespace="../02_entities/periodo_inserimento_imprese"
    elementFormDefault="qualified" attributeFormDefault="qualified"
    version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../02_entities/istituto" schemaLocation="../02_entities/ent_istituto_v1.0.5.xsd" />
    <xsd:import namespace="../02_entities/iscrizione_REA" schemaLocation="../02_entities/ent_iscrizione_REA_v1.0.5.xsd" />
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd" />
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd" />
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd" />

    <xsd:complexType name="periodo_inserimento_imprese_ctype">
        <xsd:sequence>
            <xsd:element name="anni_in_impresa" minOccurs="0">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="anni_uno" type="xsd:boolean" />
                        <xsd:element name="anni_due" type="xsd:boolean" />
                        <xsd:element name="anni_tre" type="xsd:boolean" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:sequence>
                <xsd:element name="attivita" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="tipo_attivita" type="xsd:string" />
                            <xsd:element name="dal" type="ctipi:ggmmaaaa_stype" />
                            <xsd:element name="al" type="ctipi:ggmmaaaa_stype" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CCIAA" type="eiscrea:iscrizione_REA_ctype" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="periodo_inserimento_imprese" type="eperinsimp:periodo_inserimento_imprese_ctype" />
</xsd:schema>