02_entities/ent_carattere_esercizio_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ecarese="../02_entities/carattere_esercizio"
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/carattere_esercizio"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>

    <xsd:complexType name="carattere_esercizio_ctype">
        <xsd:sequence>
            <xsd:element name="permanente" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
            <xsd:element name="stagionale" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="da_stagionale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="a_stagionale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="temporaneo" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="da_temporaneo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="a_temporaneo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="carattere_esercizio" type="ecarese:carattere_esercizio_ctype"/>
</xsd:schema>
