02_entities/ent_comunicazioni_installazioni_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:ecomins="../02_entities/comunicazioni_installazioni"

            xmlns:eindita="../02_entities/indirizzo_italiano"

            targetNamespace="../02_entities/comunicazioni_installazioni"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/indirizzo_italiano" schemaLocation="../02_entities/ent_indirizzo_italiano_v1.0.5.xsd"/>


    <xsd:complexType name="dati_apparecchi_automatici">
        <xsd:sequence>
            <xsd:element name="indirizzo" type="eindita:indirizzo_italiano_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="presso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nr_apparecchi" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="area_pubblica" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="area_privata" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nr_apparecchi_temperatura_controllata" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="comunicazioni_installazioni_ctype">
        <xsd:sequence>
            <xsd:element name="anno" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="semestre_uno" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="semestre_due" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>

            <xsd:element name="installazioni" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="apparecchi_automatici_installati" type="ecomins:dati_apparecchi_automatici" minOccurs="0" maxOccurs="unbounded"/>

            <xsd:element name="disinstallazioni" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="apparecchi_automatici_disinstallati" type="ecomins:dati_apparecchi_automatici" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="comunicazioni_installazioni" type="ecomins:comunicazioni_installazioni_ctype"/>
</xsd:schema>
