02_entities/ent_intestazione_strutture_ricettive_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eintstruttric="../02_entities/intestazione_strutture_ricettive"
            xmlns:ccodelist="../commons/codelist"      
            xmlns:canncl="../commons/xsdAnnotations" 
            xmlns:ctipi="../commons/tipi" 
                
        targetNamespace="../02_entities/intestazione_strutture_ricettive" elementFormDefault="qualified" 
            attributeFormDefault="qualified" version="1.0.5" xml:lang="it">
    
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>    
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    
    <xsd:complexType name="intestazione_strutture_ricettive_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="scia_apertura" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="scia_variazione" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="scia_unica_apertura" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="scia_unica_variazione" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="scia_condizionata_apertura" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="scia_condizionata_variazione" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="intestazione_strutture_ricettive" type="eintstruttric:intestazione_strutture_ricettive_ctype"/>
</xsd:schema>
