02_entities/ent_commercio_ingrosso_trasferimento_sede_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ecommingtras="../02_entities/commercio_ingrosso_trasferimento_sede"
            xmlns:esetmer="../02_entities/settori_merceologici"
            xmlns:eproto="../02_entities/protocollo"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:eindita="../02_entities/indirizzo_italiano"
            targetNamespace="../02_entities/commercio_ingrosso_trasferimento_sede"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.5" xml:lang="it">

    <xsd:import namespace="../02_entities/settori_merceologici" schemaLocation="./ent_settori_merceologici_v1.0.5.xsd"/>
    <xsd:import namespace="../02_entities/protocollo" schemaLocation="./ent_protocollo_v1.0.5.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../02_entities/indirizzo_italiano" schemaLocation="./ent_indirizzo_italiano_v1.0.5.xsd"/>

    <!-- AS-IS: ModalitaVenditaIngrossoSuperficieBaseType su SUAP_modulo_commercio_ingrosso.xsd -->
    <xsd:complexType name="modalita_vendita_ingrosso_superficie_base_type" abstract="true" />

    <xsd:complexType name="modalita_vendita_ingrosso_superficie_ctype">
        <xsd:complexContent>
            <xsd:extension base="ecommingtras:modalita_vendita_ingrosso_superficie_base_type">
                <xsd:sequence>
                    <xsd:element name="vendita_ingrosso" type="ecommingtras:vendita_ctype" minOccurs="0"/>
                    <xsd:element name="vendita_congiunta" type="ecommingtras:vendita_ctype" minOccurs="0"/>
                    <xsd:element name="vendita_congiunta_ingrosso" type="ecommingtras:vendita_ctype" minOccurs="0"/>
                    <xsd:element name="vendita_congiunta_dettaglio" type="ecommingtras:vendita_ctype" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="vendita_ctype">
        <xsd:sequence>
            <xsd:element name="check" type="xsd:boolean"/>
            <xsd:element name="superficie" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="commercio_ingrosso_trasferimento_sede_ctype">
        <xsd:sequence>
            <xsd:element name="comunicazione_trasferimento_sede" type="eproto:protocollo_ctype" minOccurs="1"
                         maxOccurs="1"/>
            <xsd:element name="sportello" type="xsd:string" minOccurs="0"/>
            <xsd:element name="comune_sportello" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzo_precedente" type="eindita:indirizzo_italiano_ctype" minOccurs="1"/>
            <xsd:element name="indirizzo_nuovo" type="eindita:indirizzo_italiano_ctype" minOccurs="1"/>
            <xsd:element name="telefono_cellulare" type="xsd:string" minOccurs="0"/>

            <xsd:element name="modalita_vendita_ingrosso_superficie" type="ecommingtras:modalita_vendita_ingrosso_superficie_base_type" minOccurs="0"/>
            <!--
            <xsd:element name="vendita_ingrosso" type="ecommingtras:vendita_ctype" minOccurs="0"/>
            <xsd:element name="vendita_congiunta" type="ecommingtras:vendita_ctype" minOccurs="0"/>
            <xsd:element name="vendita_congiunta_ingrosso" type="ecommingtras:vendita_ctype" minOccurs="0"/>
            <xsd:element name="vendita_congiunta_dettaglio" type="ecommingtras:vendita_ctype" minOccurs="0"/>
            -->

            <xsd:element name="settori_merceologici" type="esetmer:settori_merceologici_base_type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="commercio_ingrosso_trasferimento_sede"
                 type="ecommingtras:commercio_ingrosso_trasferimento_sede_ctype"/>
</xsd:schema>
