02_entities/ent_files_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:efile="../02_entities/files"

            xmlns:vhashalg="../01_vocabularies/files_hashalg"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:ctipi="../commons/tipi"

            targetNamespace="../02_entities/files"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../01_vocabularies/files_hashalg"
                schemaLocation="../01_vocabularies/voc_files_hashalg_v1.0.5.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>

    <!-- AS-IS: AllegatoBaseType su MODULI_common_components.xsd -->
    <xsd:complexType name="file_base_type" abstract="true"/>

    <xsd:complexType name="file_ctype">
        <xsd:sequence>
            <xsd:element name="binario" type="efile:file_base_type"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="fileType">
        <xsd:complexContent>
            <xsd:extension base="efile:file_base_type">
                <xsd:sequence>
                    <xsd:element name="nome_file" type="ctipi:nome_file_stype" minOccurs="1" maxOccurs="1"/>

                    <xsd:element name="content_type" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <canncl:codeListReference>
                                    <canncl:ShortName>IT:SUAP:CL:MimeType</canncl:ShortName>
                                </canncl:codeListReference>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="descrizione" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="hash" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="hash-alg" type="vhashalg:hash_alg_voc" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="dimensione" type="xsd:positiveInteger" minOccurs="0"/>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="file" type="efile:file_ctype"/>
</xsd:schema>
