02_entities/ent_anagrafica_attivita_locazioni_v1.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eanagattloc="../02_entities/anagrafica_attivita_locazioni"
            xmlns:eanagatt="../02_entities/anagrafica_attivita"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            targetNamespace="../02_entities/anagrafica_attivita_locazioni"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.5" xml:lang="it">

    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../02_entities/anagrafica_attivita"
                schemaLocation="../02_entities/ent_anagrafica_attivita_v1.0.5.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>

    <xsd:simpleType name="cin_stype">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="IT\d{3}\d{3}[A-Z]\d{1}[A-Z]{1}\d{5}"/>
        </xsd:restriction>
    </xsd:simpleType>


    <!-- AS-IS: astrazione pdf -->
    <xsd:complexType name="anagrafica_attivita_locazioni_base_type" abstract="true"/>

    <!-- AS-IS: astrazione pdf -->
    <xsd:complexType name="cin_base_type" abstract="true"/>

    <xsd:complexType name="cin_ctype">
        <xsd:complexContent>
            <xsd:extension base="eanagattloc:cin_base_type">
                <xsd:sequence>
                    <xsd:element name="cin" type="eanagattloc:cin_stype" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="anagrafica_attivita_locazioni_ctype">
        <xsd:complexContent>
            <xsd:extension base="eanagattloc:anagrafica_attivita_locazioni_base_type">
                <xsd:sequence>
                    <xsd:element name="anagrafica" type="eanagatt:anagrafica_attivita_ctype" minOccurs="1"
                                 maxOccurs="1"/>
                    <xsd:element name="codiceIstat" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <canncl:codeListReference>
                                    <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                                </canncl:codeListReference>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cin" type="eanagattloc:cin_base_type" minOccurs="0" maxOccurs="1"/>
                    <!-- da inserire usando nuovo vocabolario: codici istat regioni e province -->
                    <xsd:element name="codiceIstatRegione" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="codiceIstatProvincia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

<!--    <xsd:element name="anagrafica_attivita_locazioni" type="anagrafica_attivita_locazioni_base_type"/>-->
</xsd:schema>
